@tailwind base;
@tailwind components;
@tailwind utilities;


/*variables*/
* {
    --primary-color: #000;
    --secondary-color: #502FAC;
    --tertiary-color: #4a5568;
}

.primary-text-input{
    @apply border rounded-md bg-white text-black p-2;
}
.primary-text-area{
    @apply border rounded-md bg-white text-black p-2;
}
.primary-select{
    @apply rounded-md border border-gray-300 p-2 text-black;
}

.primary-button{
    @apply bg-[var(--secondary-color)] px-4 py-2 rounded-md text-white max-w-[8rem] h-10 flex justify-center items-center;
}
.secondary-button{
    @apply px-4 py-2 border border-[var(--tertiary-color)] rounded-md text-white max-w-[8rem] h-10 flex justify-center items-center;
}

.thin-scroll::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}
.thin-scroll::-webkit-scrollbar-track {
    background: var(--tertiary-color);
}
.thin-scroll::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
}

