@tailwind base;
@tailwind components;
@tailwind utilities;


/*variables*/
* {
    --primary-color: #000;
    --secondary-color: #502FAC;
    --tertiary-color: #4a5568;
    --gray-300: rgb(209,213,219);
}

.primary-text-input{
    @apply border rounded-md bg-white text-black p-2;
}
.primary-text-area{
    @apply border rounded-md bg-white text-black p-2;
}
.primary-select{
    @apply rounded-md border border-gray-300 p-2 text-black;
}

.primary-button{
    @apply bg-[var(--secondary-color)] px-4 py-2 rounded-md text-white max-w-[8rem] h-10 flex justify-center items-center;
}
.secondary-button{
    @apply px-4 py-2 border border-[var(--tertiary-color)] rounded-md text-white max-w-[8rem] h-10 flex justify-center items-center;
}

.thin-scroll::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}
.thin-scroll::-webkit-scrollbar-track {
    background: var(--tertiary-color);
}
.thin-scroll::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
}

/* animations */

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        transform: translateX(-100%);
        opacity: 0;
    }
}
@keyframes open {
    0% {
        max-height: 0;
    }
    100% {
        max-height: 100vh;
    }
}
@keyframes close {
    0% {
        max-height: 100vh;
    }
    100% {
        max-height: 0;
    }
}
.fadeIn {
    animation-name: fadeIn;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
}
.fadeOut {
    animation-name: fadeOut;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
}
.open {
    animation-name: open;
    animation-duration: .3s;
    animation-fill-mode: forwards;
    transition: max-height .3s ease-in-out;
    overflow: hidden;
}
.close {
    animation-name: close;
    animation-duration: .3s;
    animation-fill-mode: forwards;
    transition: max-height .3s ease-in-out;
    overflow: hidden;
}



